.mobile-menu {
  position: absolute;
  top: 96px;
  left: calc(4%);
    padding: 24px;
    border: 1px solid var(--very-light-pink);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--text-input-field);
    box-shadow: 3px 4px 7px 0px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }