
@import './Components/Header/index.css';
@import './Components/Links/index.css';
@import './Components/Menu/index.css';
@import './Components/Order/index.css';
@import './Components/OrderItem/index.css';
@import './Components/ProductInfo/index.css';
@import './Components/ProductItem/index.css';
@import './Components/ShoppingCardItem/index.css';
@import './Containers/MyOrder/index.css';
@import './Containers/ProductDetail/index.css';
@import './Containers/ProductList/index.css';
@import './PrivateRoutes/Login/Login.css';
@import './Pages/CheckOut/index.css';
@import './Pages/CreateAccount/index.css';
@import './Pages/MyAccount/index.css';
@import './Pages/NewPassword/index.css';
@import './Pages/NotFound/index.css';
@import './Pages/Orders/index.css';
@import './Pages/PasswordRecovery/PasswordRecover.css';
@import './Pages/SendEmail/index.css';


:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--text-input-field);
}